/*
========================================================================================
    CNV Nextflow config file
========================================================================================
    Default config options for standard and batch profiles
----------------------------------------------------------------------------------------
*/


manifest {
  name = "CNV pipeline"
  description = ""
  author = "Jelena Pejovic"
  homePage = "https://github.com/APIS-Assay-Technologies-Ltd/template_pipeline.git"
  mainScript = "main.nf"
  version = '1.5.4'
  
}


/*
* Default pipeline parameters. They can be overriden on the command line eg.
* given `params.foo` specify on the run command line `--foo some_value`.
*/

params{
  // GENERAL
  help = false
  
  
  // READ INPUTS
  // test_file = "$baseDir/test/data/inputs/test.txt"
  reads = ""
  
  
  //GENOME
  genomes_base = ""
  genome = 'GRCh38' // 'Test', 'GRCh38', 'GRCh37' ,'GRCm39'
 
  

  
  // BOWTIE2
  

  
  // OUTPUT DIR - defaults are profile specific
  publish_dir = ""
  enable_publish = true
  disable_publish = false
  
  //SKIP MODULES
  // If these flags are specified during runtime it will skip those process
  
  
  // NOTIFICATIONS
  email_on_fail = ""

 
}
// Load environment config
includeConfig './configs/enviromental.config'
// Load genomes config
includeConfig './configs/genomes.config'
includeConfig './configs/modules.config'

