/*
========================================================================================
    CNV Nextflow config file
========================================================================================
    Default config options for standard and batch profiles
----------------------------------------------------------------------------------------
*/


manifest {
  name = "STR pipeline"
  description = ""
  author = ""
  homePage = ""
  mainScript = "main.nf"
  version = ""
}


/*
* Default pipeline parameters. They can be overriden on the command line eg.
* given `params.foo` specify on the run command line `--foo some_value`.
*/

params{
  // GENERAL
  help = false

    fastq_pairs = 'input'
    fasta = 'input/genome.fa'
    variant_catalog = 'input/uscs_variant_catalog.json'
    output_dir = 'input'
    input_dir = 'input'
    reads = ""
    sample_name = ""
  
  
  //GENOME
  // genomes_base = ""
  // genome = 'GRCh38' // 'Test', 'GRCh38', 'GRCh37' ,'GRCm39'
 
  

  
  // BOWTIE2
  

  
  // OUTPUT DIR - defaults are profile specific
  output_dir = "results"
  publish_dir = "input"
  enable_publish = true
  disable_publish = false
  
  // NOTIFICATIONS
  email_on_fail = ""

  max_memory = '256.GB'
  max_cpus = 64
  max_time = '48.h'

 
}
// Load environment config
includeConfig './configs/enviromental.config'
// Load genomes config
// includeConfig './configs/genomes.config'
includeConfig './configs/modules.config'

