/*
========================================================================================
    Nextflow config file for genomes paths
========================================================================================
    Defines reference genomes using iGenome paths.
    Can be used by any config that customises the base path using:
        $params.genomes_base / --genomes_base
----------------------------------------------------------------------------------------
*/

params {
    genomes {
        'GRCh38' {
            index_files              = ""
           
        }
       
        'Test' {
            index_files              = ""
       }
        
    }
}
