docker {
  enabled = true
  temp = 'auto'
}
process {

    withName: 'FASTA_INDEX' {
        container   = 'bwa:1'
    }
    
        withName: 'FQ_TO_SAM' {
        container   = 'bwa:1'
    }

        withName: 'FAIDX' {
        container   = 'samtools:1'
    }

        withName: 'IMPORT' {
        container   = 'samtools:1' 
    }

        withName: 'SORT' {
        container   = 'samtools:1'
    }

        withName: 'EXPANSIONHUNTER' {
        container   = 'expansionhunter:1'
    }

        withName: 'REPORTING' {
        container   = ""
    }
}